svg {
  font-family: sans-serif;
}

.source > g:first-child {
  fill: rgb(120, 120, 200) !important;
}
.source > g:nth-child(2) {
  stroke-width: 5px !important;
}

.target > g:first-child {
  fill: rgb(100, 160, 200) !important;
}
.target > g:nth-child(2) {
  stroke-width: 5px !important;
}

.path.node > g:first-child {
  fill: rgb(200, 200, 100) !important;
}

.path .arrow-body {
  stroke-width: 5px;
}
.path .arrow-head {
  stroke: none !important;
  fill: none !important;
}

.isolated {
  fill: rgb(200, 200, 200) !important;
}

.path0 {
  stroke: gold !important;
}
.path1 {
  stroke: red !important;
}
.path2 {
  stroke: blue !important;
}
.path3 {
  stroke: darkgreen !important;
}
.path4 {
  stroke: orange !important;
}
.path5 {
  stroke: deeppink !important;
}
.path6 {
  stroke: cyan !important;
}
.path7 {
  stroke: green !important;
}

.disabled-node {
  opacity: 0.5;
  background-color: gray;
}
.disabled-edge {
  opacity: 0.5;
  stroke: gray;
}
