svg {
  font-family: sans-serif;
}

.source > g:first-child {
  fill: rgb(120, 120, 200) !important;
}

.target > g:first-child {
  fill: rgb(100, 160, 200) !important;
}

.path > g:first-child {
  fill: rgb(200, 200, 100) !important;
}

.path > g:first-child > .arrow-body {
  stroke: rgb(170, 170, 85) !important;
  stroke-width: 5px !important;
}
.path > g:first-child > .arrow-head {
  stroke: none !important;
  fill: none !important;
}

.isolated {
  fill: rgb(200, 200, 200) !important;
}
