svg {
  font-family: sans-serif;
}

.source > g:first-child {
  fill: rgb(120, 120, 200) !important;
}

.target {
  fill: rgb(0, 140, 200) !important;
}

.isolated {
  fill: rgb(200, 200, 200) !important;
}
