body {
  /*font-family: "Jost", sans-serif;
  font-feature-settings: "ss01" 1;*/
  font-family: "Roboto", sans-serif;
  background-color: #eaeaea;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal; 
}

.menu {
  width: 100%;
}

.menu ul {
  margin-left: auto;
  margin-right: 5em;
  margin-top: 3em;
  max-width: 40rem;
  list-style-type: none;
  #margin: 0;
  #padding: 0;
  border-bottom: 0.19rem solid darkgray;
  display: flex;
  #width: 34.1875rem;
  #height: 3rem;
  #padding: 0rem 0rem 0rem 3.5625rem;
  padding: 0;
  padding-bottom: 1rem;
  justify-content: space-around;
  align-items: flex-start;
  flex-shrink: 0;
  margin-bottom: 10em;
}

.menu li.active {
  #border-bottom: 0.3rem solid black;
  #margin-bottom: -0.19rem;
}

.menu li {
  #width: 8rem;
  display: inline-block;
  #margin-bottom: 0.8rem;
  #margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #666666;
}

.menu li.active a {
  color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 110em;
  margin: 0 auto;
  gap: 3em;
}

#logo {
  width: 20%;
  max-width: 15rem;
}

#searchcontainer {
  display: flex;
  width: 90%;
  max-width: 60rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

#searchfield {
  width: 80%;
  max-width: 50rem;
  height: 2.3rem;
}

#searchbutton {
  width: 7.5rem;
  height: 2.5rem;
  background-color: #525252;
  color: white;
  border-radius: 5px;
}

.roundbutton {
  width: 7.5rem;
  height: 2.5rem;
  background-color: #525252;
  color: white;
  border-radius: 20px;
}

#results {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-top: 4.5rem;
}

.result {
  width: 24rem;
  height: 10rem;
  background-color: white;
  margin: 1rem;
  padding: 0.5rem;
  box-shadow: 1px 1px 5px darkgray;
  position: relative;
}

.result a {
  text-decoration: none;
  #float: right;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #525252;
}

select {
  margin-top: 0.2rem;
  height: 2.3rem;
  background-color: white;
  border: 0.1rem solid lightgray;
  border-radius: 5px;
}

label,
select {
  display: flex;
  flex-direction: column;
}

#filters {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
}

#properties {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;
  align-items: flex-start;*/
}

#properties span {
  flex-basis: 45%;
  margin: 0.8em;
}
