/* Adjust the width of two side-by-side divs by user drag operations https://stackoverflow.com/a/74779477/398963 */
body,
main {
  margin: 0px;
  height: 100vh;
  overflow: hidden;
  padding: 0px;
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top,
.bottom {
  width: 100%;
  border: none;
}

.top {
  overflow: auto; /* required to make the handle visible */
  resize: vertical; /* enable resize in either direction   */
  width: 100vw;
  max-height: 90vh;
  flex-grow: 1;
  flex-shrink: 0;
}

.bottom {
  border-top: 1px solid #000;
  overflow: scroll;
}

.grid {
  width: 100%;
  overflow: scroll;
}
