#legend {
  text-align: center;
  margin: auto;
  padding: 10px;
}

.hidden {
  display: none;
}

.svg-text-wrapper {
  position: relative;
}

.svg-label {
  font-size: 16pt;
}

div > span {
  display: inline-block;
  margin: 10px 0;
}

/*#source-label, #target-label {font-weight: bold;}*/
