#legend {
  text-align: center;
  height: 100%;
  width: 100vw;
}

.legend-hidden {
  width: 0% !important;
  height: 0% !important;
  background-color: none !important;
  opacity: 0;
}
.controls {
  font-size: 16pt;
  vertical-align: middle;
}
.legend > * {
  vertical-align: middle;
  display: inline-block;
  margin: 10px 0;
}
