.path0 > g:first-child {
  stroke: gold !important;
}
.path1 > g:first-child {
  stroke: red !important;
}
.path2.edge .arrow-body {
  stroke: blue !important;
}
.path3.edge .arrow-body {
  stroke: darkgreen !important;
}
.path4.edge .arrow-body {
  stroke: orange !important;
}
.path5.edge .arrow-body {
  stroke: deeppink !important;
}
.path6.edge .arrow-body {
  stroke: cyan !important;
}
.path7.edge .arrow-body {
  stroke: green !important;
}
