/* Mobile */
@media only screen and (max-width: 1026px) {
  #logo {
    display: none;
  }
  #title {
    display: none;
  }
  #searchbutton {
    display: none;
  }
}

:root {
  --info-blue: #3c88c4;
}

body {
  width: 100%;
  margin: 0;
  /*font-family: "Jost", sans-serif;
  font-feature-settings: "ss01" 1;*/
  font-family: "Roboto", sans-serif;
  /*background-color: #eaeaea;*/
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-image: url("../img/background.jpg");
}

/* https://stackoverflow.com/questions/60147828/form-elements-ignore-body-css */
button {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

header {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2em;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90em;
  margin: 0 auto;
  padding: 1em;
  gap: 2rem;
}

main * {
  border-radius: 5px;
}

main h2 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #3c88c4;
}

.menu {
  width: 100%;
}

.menu ul {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  max-width: 40rem;
  min-width: 35rem;
  list-style-type: none;
  #margin: 0;
  #padding: 0;
  border-bottom: 0.19rem solid darkgray;
  display: flex;
  #width: 34.1875rem;
  #height: 3rem;
  #padding: 0rem 0rem 0rem 3.5625rem;
  padding: 0;
  padding-bottom: 1rem;
  justify-content: space-around;
  align-items: flex-start;
  flex-shrink: 0;
}

.menu li.active {
  #border-bottom: 0.3rem solid black;
  #margin-bottom: -0.19rem;
}

.menu li {
  #width: 8rem;
  display: inline-block;
  #margin-bottom: 0.8rem;
  #margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #3c88c4;
}

.menu li.active a {
  color: black;
}

#logo {
  width: 20%;
  max-width: 15rem;
}

#searchcontainer {
  display: flex;
  width: 90%;
  max-width: 60rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

#searchfield {
  width: 80%;
  max-width: 50rem;
  height: 2.3rem;
}

button {
  border-radius: 5px;
  height: 2.5rem;
  background: var(--info-blue);
  color: white;
}

#searchbutton {
  width: 7.5rem; /* 120px */
}

button.roundbutton {
  min-width: 7.5rem;
  height: 2.5rem;
  border-radius: 20px;
}

.boxes {
  display: flex;
  width: 90%;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.box {
  width: 24rem;
  height: 10rem;
  background-color: white;
  margin: 1rem;
  padding: 0.5rem;
  position: relative;
  box-shadow: 0px 0px 4px 0px rgba(74, 164, 209, 0.3), 4px 4px 8px 1px rgba(74, 164, 209, 0.15);
}

.result a {
  text-decoration: none;
  #float: right;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  color: #525252;
}

select {
  margin-top: 0.2rem;
  height: 2.3rem;
  background-color: white;
  border: 0.1rem solid lightgray;
  border-radius: 5px;
}

label,
select {
  display: flex;
  flex-direction: column;
}

#filters {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
}

#details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;
  align-items: flex-start;*/
  gap: 1.5rem;
}

#details div {
  background-color: white;
  width: 45%;
  padding: 0.8rem;
}

#shortdescription {
  border-radius: 5px;
  background-color: white;
  border-spacing: 1rem;
}

#classifiedsummary {
  background-color: white;
  box-shadow: 0px 0px 4px 0px rgba(74, 164, 209, 0.3), 4px 4px 8px 1px rgba(74, 164, 209, 0.15);
}

#classifieds {
  min-width: 20em;
  width: 80%;
}

.classified {
  font-size: 1.5em;
}

.boximg {
  float: left;
  margin: 0.8rem;
}

#core {
  width: 60rem;
  height: 17rem;
  position: relative;
}

#core button {
  width: 13rem;
  border: 1px solid var(--333333-dark-grey, #333);
  background: white;
  color: black;
  border-radius: 10px;
  height: 2.75rem;
  position: absolute;
}

.highlight {
  box-shadow: 0px 0px 15px 10px rgba(74, 164, 209, 0.75);
}

hr {
  color: lightgray;
}
